@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.8%;
}

@layer utilities {
  .bottomLine::after {
    @apply bg-green-light absolute bottom-0 left-0 h-2 w-0 duration-200 content-[''];
  }
  .bottomLine:hover:after {
    @apply w-full;
  }
}
